doctype html
html
  include common/_head

  body
    div.cont__ff
      <!--[if lt IE 7]>
      <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
      <![endif]-->

      .header
        .head_fon
        div.container__item_auto
          div.content__item_auto
            div.wrapper__content
              div.autoriz Авторизуйтесь
              div.inp__login
                span.input-group-addon
                  <i class="fa fa-user" aria-hidden="true"></i>
                input(type="text" name="login" placeholder="Логин" required).login
              div.inp__login
                span.input-group-addon
                  <i class="fa fa-key" aria-hidden="true"></i>
                input(type="text" name="password" placeholder="Пароль" required).login
              div.check_robot
                input(type="checkbox" id="c1" name="robot" value="a1").control_robot
                label(for="c1").no__robot <span></span>&nbsp; Я человек
              div.no__robot Вы точно не робот?
              div.radio_robot
                label
                  input(type="radio" id="c2" name="robot" value="a1").control_robot1
                  <span class="radio-custom"></span>
                  label(for="c2").no__robot_radio <span></span> Да
                label
                  input(type="radio" id="c3" name="robot" value="a1").control_robot1
                  <span class="radio-custom"></span>
                  label(for="c3").no__robot_radio <span></span> Не уверен


              div.buttons__line1
                a(href="index.html", alt="dd").ssilka
                  button.button__general На главную
                a(href="about.html", alt="dd").ssilka
                  button.button__voity Войти
                  
    div.footer__ff
      div.text_footer_autorizac   &#169 Олег Михалев | создано с любовью в LoftSchool | 2016