- var svg = "assets/img/svg-sprite.svg"


mixin use(name, c_name)
  svg(role="img" class="#{c_name}")
    use(xlink:href="#{svg}##{name}")

.main
  #app
    .sprite
      a(href="https://new.vk.com/id182416004")
        +use("vk", "svg-vk-dims")
      a(href="https://new.vk.com/id182416004")
        +use("github", "svg-github-dims")
      a(href="https://new.vk.com/id182416004")
        +use("in", "svg-in-dims")