- var svg = "assets/img/svg-sprite.svg"


mixin use(name, c_name)
  svg(role="img" class="#{c_name}")
    use(xlink:href="#{svg}##{name}")

.main1
    .sprite
      ul.qqs
        li.qs
            a(href="https://new.vk.com/id182416004", alt="dd").ssilka 
              +use("vk1", "svg-vk1-dims")
        li.qs
            a(href="https://new.vk.com/id182416004", alt="dd").ssilka
              +use("github1", "svg-github1-dims")
        li.qs
            a(href="https://new.vk.com/id182416004", alt="dd").ssilka
              +use("in1", "svg-in1-dims")