@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/roboto-medium.ttf);}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/roboto-light.ttf);}

@font-face {
    font-family: Sansus_Webissimo;
    src: url(../fonts/Sansus_Webissimo.ttf);}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);}

* {
  margin: 0;
  padding: 0;
}
.wrapper__ff{
  position: relative;
  height: 100%;
}
.content__ff{
  padding-bottom: 0px;
  min-height: 100%;
  box-sizing: border-box;
}

.header__about{
  height: 100vh;
  min-height: 650px;
  position: relative;
}



.svg-hamburger-dims{
  fill: #fff;
  display: flex;
  align-items: flex-end;
  padding: 0 rem(20px);
}














.box-tranigle1 {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  margin: 0px auto;
  }


.block__i{
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0 0;
  width: 100%;
    @include tablet{
      flex-wrap: wrap;
    }
    @include phone{
      flex-wrap: wrap;
    }
}

.about_i{
  display: flex;
  background: #efeee9;
  justify-content: center;
  width: 50%;
    @include tablet{
      width: 100%;
      height: rem(850px);
    }
    @include phone{
      width: 100%;
      height: rem(1000px);
    }

}

.polza__i{
  display: flex;
  justify-content: flex-start;
  background: #eeebdf;
  flex-wrap: wrap;
  width: 50%;
    @include tablet{
      width: 100%;
    }
    @include phone{
      width: 100%;
    }
}

.tochki{
  position: relative;
  top: rem(-80px);
  color: #cacbc8;
}
.tochki::before{
content:"\00B7 \00B7 \00B7"
}
.tochki::after{
content:"\00B7 \00B7 \00B7"
}

.zagolovok__about_i{
  font-family: Sansus_Webissimo;
  font-size: rem(63px);
  text-transform: uppercase;
  text-align: center;
  padding: rem(50px) 0 0 0;
  color: #373e42;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

.kto__i{
  height: auto;
  width: 100%;
  position: relative;
  top: rem(-160px);
}

.logo__i{
  position: relative;
  top: rem(-180px);
}

.wrap__foto_kto_i{
  height: rem(300px);
  width: auto;
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.foto__kto_i{
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: rem(300px);
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.img__kto_i{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: auto;
  width: 70%;

  
}

.zagolovok__kto_i{
  font-family: Sansus_Webissimo;
  font-size: rem(35px);
  text-transform: uppercase;
  text-align: center;
  padding: rem(50px) 0 0 0;
  color: #5d5a55;
  height: rem(100px);
  width: 100%;
}

.tochki__zagolovok_kto_i{
  position: relative;
  top: rem(-120px);
  color: #bfbeba;
  text-align: center;
  font-size: rem(70px);
  overflow: hidden;
}
.tochki__zagolovok_kto_i::before{
content:"\00B7 \00B7"
}
.tochki__zagolovok_kto_i::after{
content:"\00B7 \00B7"
}

.content__kto_i{
  padding: 8px 10px;
  line-height: 1.5;
  top: 0px;
  position: relative;
  margin: 0px rem(50px);
  text-transform: none;
    @include tablet{
      top: rem(-80px);
    }
    @include phone{
      top: rem(-80px);
    }

}

.text__kto_i{
  font-family: roboto-regular;
  font-size: rem(16px);
  color: #5d5a55;
  padding: 5px 0;
  top: rem(-50px); 
  text-align: left;
  position: relative;

}

.zagolovol_polza{
  font-family: Sansus_Webissimo;
  font-size: rem(35px);
  text-transform: uppercase;
  color: #5d5a55;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
  height: rem(100px);
  width: 100%;
  padding: rem(50px) 0 0 0;
    overflow: hidden;

}


.tochki__zagolovol_polza{
   position: relative;
  top: rem(-80px);
  color: #bfbeba;
  text-align: center;
  font-size: rem(70px);
}
.tochki__zagolovol_polza::before{
content:"\00B7 \00B7"
}
.tochki__zagolovol_polza::after{
content:"\00B7 \00B7"
}

.wrap{
  padding: 0 0 rem(30px) 0;
  background: #eeebdf;
}

.content_polza{
  font-family: roboto-regular;
  font-size: rem(16px);
  color: #5d5a55;
  padding: 0px 0px 0 2px;
  position: relative;
  top: 0px;
  margin: rem(20px) rem(30px);
}

.frontend{
  font-family: roboto-medium;
  font-size: rem(28px);
  color: #5d5a55;
  padding: rem(20px) 0px 0 rem(50px);
  text-align: left;
  position: relative;
  top: 0px;
  display: block;
}

.Front__scil{
  padding: 10px 0px rem(70px) 5px;
  height: rem(120px);
  width: 100%;
  display: block;
    @include monitor{
      height: rem(280px);
      }
    @include laptop{
      height: rem(280px);
      }

    @include tablet{
      height: rem(280px);
      }
    @include phone{
      height: rem(280px);
      }
}

.Front__scil li{
  padding: 0px 5px 0 0;

}

.g-circles{
  fill: none;
  stroke-width: 25;
  stroke: #ccc;


}

.wrap_scill{

}


.skill__item{
  display: inline;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  margin: auto;
  height: rem(170px);
  width: rem(120px);
}


.chart {
    position: relative;
    display: inline-block;
    color: #e6ab3d;
    text-align: center;
}







figure {
  margin: 0 rem(40px) rem(50px) 0;
  vertical-align: middle;
}

.chart figcaption {
    width: rem(120px);
    height: rem(120px);

}

.sector_html{
  stroke-dasharray: 380 377;
  stroke: #e6ab3d;
  transition: stroke-dashoffset 1s;
  stroke-width: 25;

  fill: transparent;

}



$count: 380;

@for $i from 0 through  100 {
  
  $length: $count - ($count/(100/$i)); 
  .chart[data-percent='#{$i}'] .sector_html {
    stroke-dashoffset: $length;
    animation: show#{$i} 2s;
  }

  @keyframes show#{$i} {
    from {stroke-dashoffset: $count;}
    to {stroke-dashoffset: $length;}
  }
}


.sector_css{
  stroke-dasharray: 250 377;
  transition: all 1s;
  stroke: #e6ab3d;
}



$count1: 250;

@for $j from 0 through  100 {
  
  $length1: $count1 - ($count1/(100/$j)); 
  .chart[data-percent='#{$j}'] .sector_css {
    stroke-dashoffset: $length1;
    animation: show1#{$j} 2s;
  }

  @keyframes show1#{$j} {
    from {stroke-dashoffset: $count1;}
    to {stroke-dashoffset: $length1;}
  }
}














.name_scil{
  fill: #cd8920;
  font-size: rem(16px);
  font-family: roboto-medium;
  stroke-width: 0;
}


.Backend__scil{
    padding: 10px 0px rem(60px) 5px;
    display: block;
    height: rem(170px);
    width: 100%;
      @include monitor{
        height: rem(280px);
      }
      @include laptop{
        height: rem(280px);
      }

      @include tablet{
        height: rem(280px);
      }
      @include phone{
        height: rem(280px);
      }
}

.Backend__scil li{
    padding: 0px 5px 0 0;
}

.workflow__scil{
  padding: 10px 0px rem(100px) 5px;
  height: rem(120px);
  width: 100%;
    @include monitor{
      height: rem(280px);
      }
    @include laptop{
        height: rem(280px);
      }

    @include tablet{
      height: rem(280px);
      }
    @include phone{
      height: rem(280px);
      }
}

.workflow__scil li{
  padding: 0px 5px 0 0;
}


.map{
  background-image: url(../img/map.png);
  height: rem(650px);
  width: 100%;
  background-size: cover;
  position: relative;


}



.wrap__form_contacts{
  padding: rem(120px) 0;
}

.form__contacts{
  width: rem(380px);
  height: rem(280px);
  background-color: rgba(222, 201, 165, 0.55);
  margin: 0 auto;

}

.zagolovok__form_contacts{
  font-family: Sansus_Webissimo;
  font-size: rem(35px);
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 0 0;
  color: #5d5a55;
}


.tochki_zagolovok__form_contacts{
  position: relative;
  top: rem(-60px);
  color: #c9c8c7;
  text-align: center;
  font-size: rem(70px);
}
.tochki_zagolovok__form_contacts:before{
content:"\00B7 \00B7"
}

.tochki_zagolovok__form_contacts::after{
content:"\00B7 \00B7"
}


.contacts__item{
  position: relative;
  top: rem(-50px);
  padding: 5px rem(30px);
}

.svg-skype-dims{
  fill: #e7a731;
  padding: 0 rem(20px);
  display: inline-block;
}

.contacts_text{
  font-family: roboto-medium;
  font-size: rem(16px);
  color: #5d5a55;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -6px;
}

.svg-envelope2-dims{
  fill: #e7a731;
  padding: 0 rem(20px);
  display: inline-block;
}

.svg-phone2-dims{
  fill: #e7a731;
  padding: 0 rem(20px);
  display: inline-block;
}

.svg-map_marker-dims{
  fill: #e7a731;
  padding: 0 rem(20px);
  display: inline-block;
}














.footer1{
  background-color: #4e4b46;
  width: 100%;
  height: rem(150px);
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-top: rem(-150px);
    @include laptop{
      flex-wrap: wrap;
      height: rem(250px);
      }

    @include tablet{
      flex-wrap: wrap;
      height: rem(400px);
      }

    @include phone{
      flex-wrap: wrap;
      height: rem(400px);
    }

  }



.menu{
  display: inline;
  padding: 0 rem(20px);
  color: #fff;
  font-family: roboto-medium, sans-serif;
  font-size: 16px;
  text-decoration: none;

}
.conts{
  list-style-type: none;
  color: #a5a4a4;
  font-family: roboto-light, sans-serif;
  font-size: 16px;
  
}

.svg-vk-dims{
  fill: #efe4d8;
}

.svg-github-dims{
  fill: #efe4d8;
}

.svg-in-dims{
  fill: #efe4d8;
}









@import 'common/svg-sprite.scss';

