@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/roboto-medium.ttf);}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/roboto-light.ttf);}

@font-face {
    font-family: Sansus_Webissimo;
    src: url(../fonts/Sansus_Webissimo.ttf);}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);}

* {
  margin: 0;
  padding: 0;
}
.wrapper__ff{
  position: relative;
  height: 100%;
}
.content__ff{
  padding-bottom: 0px;
  min-height: 100%;
  box-sizing: border-box;
}

.header__work{
  background-image: url(../img/sand.jpg);
  height: 650px;
  width: 100%;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  background-position: left top;
  background-repeat: no-repeat;
}



.svg-hamburger-dims{
  fill: #fff;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
}














.box-tranigle1 {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  margin: 0px auto;
  }


.block__i{
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0 0;
  width: 100%;
}

.about_i{
  display: flex;
  background: #efeee9;
  justify-content: center;
  width: 50%;

}

.polza__i{
  display: flex;
  justify-content: flex-start;
  background: #eeebdf;
  flex-wrap: wrap;
  width: 50%;
}

.tochki{
  position: relative;
  top: -80px;
  color: #cacbc8;
}
.tochki::before{
content:"\00B7 \00B7 \00B7"
}
.tochki::after{
content:"\00B7 \00B7 \00B7"
}

.zagolovok__about_i{
  font-family: Sansus_Webissimo;
  font-size: 63px;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0 0 0;
  color: #373e42;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

.kto__i{
  height: 500px;
  width: 100%;
  position: relative;
  top: -160px;
}

.logo__i{
  position: relative;
  top: -180px;
}

.wrap__foto_kto_i{
  height: 300px;
  width: auto;
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.foto__kto_i{
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 300px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.img__kto_i{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: auto;
  width: 70%;

  
}

.zagolovok__kto_i{
  font-family: Sansus_Webissimo;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0 0 0;
  color: #5d5a55;
  height: 100px;
  width: 100%;
}

.tochki__zagolovok_kto_i{
  position: relative;
  top: -120px;
  color: #bfbeba;
  text-align: center;
  font-size: 70px;
  overflow: hidden;
}
.tochki__zagolovok_kto_i::before{
content:"\00B7 \00B7"
}
.tochki__zagolovok_kto_i::after{
content:"\00B7 \00B7"
}

.content__kto_i{
  padding: 8px 10px;
  line-height: 1.5;
  top: 0px;
  position: relative;
  margin: 0px 50px;
  text-transform: none;

}

.text__kto_i{
  font-family: roboto-regular;
  font-size: 16px;
  color: #5d5a55;
  padding: 5px 0;
  top: -50px; 
  text-align: left;
  position: relative;

}

.zagolovol_polza{
  font-family: Sansus_Webissimo;
  font-size: 35px;
  text-transform: uppercase;
  color: #5d5a55;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
  height: 100px;
  width: 100%;
  padding: 50px 0 0 0;
    overflow: hidden;

}


.tochki__zagolovol_polza{
   position: relative;
  top: -80px;
  color: #bfbeba;
  text-align: center;
  font-size: 70px;
}
.tochki__zagolovol_polza::before{
content:"\00B7 \00B7"
}
.tochki__zagolovol_polza::after{
content:"\00B7 \00B7"
}

.wrap{
  padding: 0 0 30px 0;
  background: #eeebdf;
}

.content_polza{
  font-family: roboto-regular;
  font-size: 16px;
  color: #5d5a55;
  padding: 0px 0px 0 2px;
  position: relative;
  top: 0px;
  margin: 20px 30px;
}

.frontend{
  font-family: roboto-medium;
  font-size: 28px;
  color: #5d5a55;
  padding: 20px 0px 0 50px;
  text-align: left;
  position: relative;
  top: 0px;
}

.Front__scil{
  padding: 10px 0px 70px 5px;
  height: 120px;
  width: 100%;
}

.g-circles{
  fill: none;
  stroke-width: 25;
  stroke: #ccc;


}

.skill__item{
  display: inline;
}

.chart {
    position: relative;
    display: inline-block;
    color: #e6ab3d;
    text-align: center;
}

figure {
  margin: 0 30px 20px 0;
  vertical-align: middle;
}

.chart figcaption {
    width: 120px;
    height: 120px;

}

.sector_html{
  stroke-dasharray: 120 377;
  transition: all 1s;
  stroke: #e6ab3d;
}

.name_scil{
  fill: #cd8920;
  font-size: 16;
  font-family: roboto-medium;
  stroke-width: 0;
}

.sector_css{
  stroke-dasharray: 150 377;
  transition: all 1s;
  stroke: #e6ab3d;
}

.Backend__scil{
    padding: 10px 0px 50px 5px;
}

.workflow__scil{
  padding: 10px 0px 100px 5px;
  height: 120px;
  width: 100%;
}


.map{
  background-image: url(../img/map.png);
  height: 650px;
  width: 100%;
  background-size: cover;
  position: relative;


}



.wrap__form_contacts{
  padding: 120px 0;
}

.form__contacts{
  width: 380px;
  height: 280px;
  background-color: rgba(222, 201, 165, 0.55);
  margin: 0 auto;

}

.zagolovok__form_contacts{
  font-family: Sansus_Webissimo;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 0 0;
  color: #5d5a55;
}


.tochki_zagolovok__form_contacts{
  position: relative;
  top: -60px;
  color: #c9c8c7;
  text-align: center;
  font-size: 70px;
}
.tochki_zagolovok__form_contacts:before{
content:"\00B7 \00B7"
}

.tochki_zagolovok__form_contacts::after{
content:"\00B7 \00B7"
}


.contacts__item{
  position: relative;
  top: -50px;
  padding: 5px 30px;
}

.svg-skype-dims{
  fill: #e7a731;
  padding: 0 20px;
  display: inline-block;
}

.contacts_text{
  font-family: roboto-medium;
  font-size: 16px;
  color: #5d5a55;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -6px;
}

.svg-envelope2-dims{
  fill: #e7a731;
  padding: 0 20px;
  display: inline-block;
}

.svg-phone2-dims{
  fill: #e7a731;
  padding: 0 20px;
  display: inline-block;
}

.svg-map_marker-dims{
  fill: #e7a731;
  padding: 0 20px;
  display: inline-block;
}














.footer1{
  background-color: #4e4b46;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-top: -150px;


  }

.cont__f1_1{
  display: flex;
  align-items: left;
  color: #fff;
  font-family: roboto-light, sans-serif;
  font-size: 16px;
}

.cont__f1{
  padding: 10px 10px;
  border-right: 1px solid #73726d;
}



.cont__f1_2{
  display: flex;
  align-items: left;
  padding: 20px 10px;
  color: #a5a4a4;
  font-family: roboto-light, sans-serif;
  font-size: 16px;

}


.cont__f2{
  display: flex;
  align-items: left;

}

.cont__f2_1{
  padding: 10px 0;
}

.cont__f2_2{
  padding: 50px 0 0 0;
  text-align: center;
}

.cont__f3{
  display: flex;
  align-items: left;
  border-left: 1px solid #73726d;
}



.menu{
  display: inline;
  padding: 0 20px;
  color: #fff;
  font-family: roboto-medium, sans-serif;
  font-size: 16px;
  text-decoration: none;

}
.conts{
  list-style-type: none;
  color: #a5a4a4;
  font-family: roboto-light, sans-serif;
  font-size: 16px;
  
}

.svg-vk-dims{
  fill: #efe4d8;
}

.svg-github-dims{
  fill: #efe4d8;
}

.svg-in-dims{
  fill: #efe4d8;
}


@import 'common/svg-sprite.scss';

