@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/roboto-medium.ttf);}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/roboto-light.ttf);}

@font-face {
    font-family: Sansus_Webissimo;
    src: url(../fonts/Sansus_Webissimo.ttf);}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);}



.wrap{
  background: #faf8f0;
}

.header__blog{
  background-image: url(../img/sand.jpg);
  height: 650px;
  width: 100%;
  background-size: cover;
  position: relative;

  top: 0;
  left: 0;
  height: 100vh;
  background-position: left top;
  background-repeat: no-repeat;
}


.zagolovok__blog{
  font-family: Sansus_Webissimo;
  font-size: 63px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 0 0;
  color: #fff;
}







.foto__header_blog{
  height: 250px;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  margin: 0 auto;
}

.wrap__img_header_blog{
  height: 141px;
  width: 141px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  margin: 5% auto 0 auto;
}

.img__header_blog{
  height: 141px;
  width: 141px;
  border-radius: 50% 50%;
  position: relative;
}

.header__wp1{
  position: relative;
  height: 120px;
  width: 270px;
  top: -80px;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  margin: 0 auto;
}

.img__header_zagolovok_blog{
  height: 120px;
  width: 270px;


}

.descr_header_blog{
  font-family: roboto-regular, sans-serif;
  color: #fff;
  position: relative;
  font-size: 16px;
  text-align: center;
  top: -130px;
  padding: 0;
}

.box-tranigle2 {
  width: 100%;
  position: absolute;
  bottom: 195px;
  left: 0;
  margin: 0px auto;
  }

.container_blog{
  display: flex;
  justify-content: space-between;
  background: #faf8f0;
  position: relative;
  top: -200px;
}

.menu__side_bar{
  list-style-type: none;
  text-align: left;
  align-items: flex-end;
}

.menu_item{
  padding: 20px 0px;
  border-right: 4px #faf8f0 solid;
  text-align: right;
}

.m1{
  padding: 0 10px 0 0;
}

.menu_item:hover a{
  color: #e7a731;
}

.menu_item:hover div{
  border-right: 4px #e7a731 solid;
  color: #e7a731;
}

.side_bar__blog{
  height: auto;
  width: 200px;
  text-align: right;
}


.content__blog{
  padding: 0 50px;
  width: 70%;
  height: auto;
  float: left;
  overflow: hidden;
}



.menu__blog{
  text-decoration: none;
  font-family: roboto-regular;
  font-size: 16px;
  color: #5d5a55;
}



.blog__aticle1{
  margin: 0 20px 20px;
  display: block;
}

.zagolovok__aticleblog1{
  font-family: Sansus_Webissimo;
  font-size: 35px;
  color: #5d5a55;
  padding: 0 0 10px 0;
}

.date__aticleblog1{
  font-family: roboto-regular;
  font-size: 16px;
  color: #cd8920;
}

.text__aticleblog1{
  padding: 20px 0;
  line-height: 1.5;
}

.text__aticleblog1_1{
  font-family: roboto-regular;
  font-size: 16px;
  color: #5d5a55;
  padding: 5px 0;
}

.foto__aticleblog1{
  padding: 10px 0;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70%;
  width: 100%;
  position: relative;
}

.img__aticleblog1{
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

gor__line{

  position: relative;
}
hr{
  size: 2;
  color: #ecebe4;
}

@import 'common/svg-sprite.scss';

