@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/roboto-medium.ttf);}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/roboto-light.ttf);}

@font-face {
    font-family: Sansus_Webissimo;
    src: url(../fonts/Sansus_Webissimo.ttf);}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);}



.wrap{
  background: #faf8f0;
}

.header__blog{
  background-image: url(../img/sand.jpg);
  height: 650px;
  width: 100%;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  background-position: left top;
  background-repeat: no-repeat;
}


.zagolovok__blog{
  font-family: Sansus_Webissimo;
  font-size: rem(63px);
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 0 0;
  color: #fff;
}







.foto__header_blog{
  height: rem(250px);
  width: rem(300px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  margin: 0 auto;
}

.wrap__img_header_blog{
  height: rem(141px);
  width: rem(141px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  margin: 5% auto 0 auto;
}

.img__header_blog{
  height: rem(141px);
  width: rem(141px);
  border-radius: 50% 50%;
  position: relative;
}

.header__wp1{
  position: relative;
  height: rem(120px);
  width: rem(270px);
  top: rem(-80px);
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  margin: 0 auto;
}

.img__header_zagolovok_blog{
  height: rem(120px);
  width: rem(270px);


}

.descr_header_blog{
  font-family: roboto-regular, sans-serif;
  color: #fff;
  position: relative;
  font-size: rem(16px);
  text-align: center;
  top: rem(-130px);
  padding: 0;
}

.box-tranigle2 {
  width: 100%;
  position: absolute;
  bottom: rem(195px);
  left: 0;
  margin: 0px auto;
  }

.container_blog{
  display: flex;
  justify-content: space-between;
  background: #faf8f0;
  position: relative;
  top: rem(-200px);
}

.button__sidebar{
  position: absolute;
  width: 35px;
  height: 70px;
  border-radius: 50%;
  background-color: #e7a731;
  top: 40%;
  right: -5%;
  content: '';
  z-index: 50;
  cursor: pointer;
  display: none;
    @include tablet{
      display: block;
  }
    @include phone{
      display: block;
  }
}

.menu__side_bar{
  list-style-type: none;
  text-align: left;
  align-items: flex-end;
  width: rem(200px);
  margin: 0 0 0 0;
    @include tablet{
      margin: 0 0 0 5%;
    }
    @include phone{
      margin: 0 0 0 0;
    }

}


.menu__blog{
  text-decoration: none;
  font-family: roboto-regular;
  font-size: rem(16px);
  color: #5d5a55;
}

.m1 a{

}

.active{
  text-decoration: none;
  font-family: roboto-regular;
  font-size: rem(16px);
  color: #e7a731;
    @include tablet{
      color: #fff;
    }
    @include phone{
      color: #fff;
    }
}

.menu_item{
  padding: rem(20px) 0px;
  border-right: 4px #faf8f0 solid;
  text-align: right;
    @include tablet{
      border-right: 4px #e7a731 solid;

    }
}

.m1{
  padding: 0 10px 0 0;
}


.menu_item:hover a{
  color: #e7a731;
    @include tablet{
      color: #ffffff;
    }
    @include phone{
      color: #ffffff;
    }
}

.menu_item:hover div{
  border-right: 4px #e7a731 solid;
  color: #e7a731;
    @include tablet{
      border-right: 4px #fff solid;
    }
    @include phone{
      border-right: 4px #fff solid;
    }
}

.side_bar__blog{
  height: auto;
  width: rem(200px);
  text-align: right;
    @include tablet{
      width: rem(0px);
    }
    @include phone{
      width: rem(0px);
    }
}


.nav__side_bar{
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 20px;
  width: rem(200px);
  display: block;
  z-index: 100;
    @include tablet{
      position: fixed;
      height: 100%;
      background-color: #e7a731;
      transition: left 1s;
      left: -45%;
      width: 43%;
      }
    @include phone{
      position: fixed;
      height: 100%;
      background-color: #e7a731;
      transition: left 1s;
      left: -65%;
      width: 63%;
      }
}

.active1{
  @include tablet{
    left: -5%;
    }
  @include phone{
    left: -7%;
    }
}




.content__blog{
  padding: 0 rem(100px) 0 rem(50px);
  width: 70%;
  height: auto;
  float: left;
  overflow: hidden;
  text-align: justify;
}








.blog__aticle1{
  margin: 0 rem(20px) rem(20px);
  display: block;
}

.zagolovok__aticleblog1{
  font-family: Sansus_Webissimo;
  font-size: rem(35px);
  color: #5d5a55;
  padding: 0 0 10px 0;
}

.date__aticleblog1{
  font-family: roboto-regular;
  font-size: rem(16px);
  color: #cd8920;
}

.text__aticleblog1{
  padding: rem(20px) 0;
  line-height: 1.5;
}

.text__aticleblog1_1{
  font-family: roboto-regular;
  font-size: rem(16px);
  color: #5d5a55;
  padding: 5px 0;
}

.foto__aticleblog1{
  padding: 10px 0;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70%;
  width: 100%;
  position: relative;
}

.img__aticleblog1{
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

gor__line{

  position: relative;
}
hr{
  size: 2;
  color: #ecebe4;
}

@import 'common/svg-sprite.scss';

