@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/roboto-medium.ttf);}

@font-face {
    font-family: fontawesome-webfont;
    src: url(../fonts/fontawesome-webfont.ttf);}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ECA839;
  z-index: 80;
  position: absolute;
}




#status {
  width: auto;
  height: rem(650px);
  position: absolute;
  background: url(../img/desert_preloader.gif) no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 81;
}

.wrap__index{
  display: none;
}


.loader-bar{
  width: 1%;
  height: 2px;
  background: #ECA839;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 82;
}

///////////////////////////////////////////////
//flip

.flip {
  width: rem(380px);
  height: rem(400px);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  perspective: rem(1000px); // задаем перспективу
}
//  при добавлении класса разворачиваем оба элемента
.flip.flipping .flip__back {   
  transform: rotateY(0deg);
}
.flip.flipping .flip__front {
  transform: rotateY(180deg);
}

.flip__front, .flip__back {
  transition: 0.9s;  // скорость анимации
  backface-visibility: hidden; // при развороте скрываем заднюю сторону
  transform-style: preserve-3d; //  создаем трехмерное пространство
  background: rgba(222, 201, 165, 0.55); 
  position: absolute;
  top:0;
  left:0;
  width: rem(380px);
  height: rem(400px);
}

// разворачиеваем элементы при удалении класса
.flip__front {
  z-index: 2; 
  transform: rotateY(0deg);  
}
.flip__back {
  transform: rotateY(-180deg);
}

//////////////////////////////////////////////////////

.header{
  height: 100%;
  width: 100%;
}

.head_fon{
  transform: translate3d(0,0,0);
  background: #faecdc url(../img/sand.jpg) bottom left;
  background-repeat: repeat-x;
  background-size: rem(3056px) auto;
  height: 100%;
  width: rem(6112px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: bg 120s linear infinite;
}

@keyframes bg{
  0% {transform: translate3d(0,0,0);}
  100% {transform: translate3d(-3056px,0,0);}
}

.container__item{
  text-align: center;
}

.container__item_auto{
  text-align: center;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: relative;
  width: rem(380px);
  height: rem(400px);
}

.content__item{
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.content__item_auto{
  width: rem(380px);
  height: rem(400px);
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(222, 201, 165, 0.55);
}

.img_foto{
  height: rem(141px);
  width: rem(141px);
  border-radius: 50% 50%;
  position: relative;
  top: rem(20px);
}

.fio{
  font-family: roboto-medium, sans serif;
  font-size: rem(28px);
  color: #fff;
  position: relative;
  top: rem(20px);
  opacity: 1;
}

.descr{
  font-family: roboto-regular, sans serif;
  font-size: rem(16px);
  color: #fff;
  position: relative;
  top: rem(30px);
  opacity: 0.8;
}

.btn__auto{
  text-align: right;
  padding: rem(20px) rem(30px) 0 0;
  position: relative;

}

.button__autoriz{
  height: rem(45px);
  width: rem(170px);
  background-color: transparent;
  border: 2px #fff solid;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-family: roboto-medium, sans-serif;
  font-size: rem(16px);
  border-radius: 5px;
}

.button__autoriz:hover{
  background-color: #fff;
  color: #e5a730;
  border: none;
}

.button__autoriz, 
.button__autoriz:active, 
.button__autoriz:focus {
    outline: none;
}

.svg__line{
  padding: rem(70px) 0 0 0;
}

.svg-vk-dims{
  fill: #efe4d8;
  top: 0px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.svg-vk-dims:hover{
  fill: #fff;
}

.svg-github-dims{
  fill: #efe4d8;
  top: 0px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.svg-github-dims:hover{
  fill: #fff;
}

.svg-in-dims{
  fill: #efe4d8;
  top: 0px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.svg-in-dims:hover{
  fill: #fff;
}



.buttons__line{
  position: relative;
  top: rem(60px);
  text-align: left;
  padding: 0;
  margin: 0;
}

.button__mywork{
  height: rem(45px);
  width: rem(170px);
  background-color: #e6a731;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: rem(16px);
  padding: 0 0;
  cursor: pointer;
}

.button__mywork:hover{
  background-color: #ce8a20;
}

.button__mywork, 
.button__mywork:active, 
.button__mywork:focus {
    outline: none;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.button__aboutme{
  height: rem(45px);
  width: rem(124px);
  background-color: #e6a731;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: rem(16px);
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
}

.button__aboutme:hover{
  background-color: #ce8a20;
}

.button__blog{
  height: rem(45px);
  width: rem(78px);
  background-color: #e6a731;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: rem(16px);
  padding: 0 0;
  cursor: pointer;
}

.button__blog:hover{
  background-color: #ce8a20;
}


.rectangle{
  background: linear-gradient(to bottom, #000, #fff);
  width: 100%;
  height: rem(100px);
  position: absolute;
  top: rem(550px);
  opacity: 0.2;
}

.text{
  display: block;
  font-family: roboto-regular, sans-serif;
  color: #fff;
  position: relative;
  font-size: rem(16px);
  text-align: center;
  top: 0;
  padding: 0;
  }





.content__item{
  position: relative;
}

.wrapper__content{
  position: relative;
}

.autoriz{
  font-family: Sansus_Webissimo;
  font-size: rem(35px);
  color: #fff;
  padding: rem(20px) 10px rem(20px) 10px;
  }

.autoriz::before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: rem(21px);
  height: 10px;
  background-image: url(../img/Ellipse-4.png);

}

.autoriz::after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: rem(21px);
  height: 10px;
  background-image: url(../img/Ellipse-41.png);

}

*:before, *:after {
  box-sizing: inherit;
}

.inp__login{
  padding: 10px 0;
  text-align: center;
}

.login{
  font-family: roboto-regular, sans-serif;
  color: #373e42;
  font-size: 16px;
  padding: 0 0 0 rem(60px);
  width: rem(300px);
  height: rem(45px);

  border-radius: 5px;
  border: none;
  background: #fff;
}

.check_robot{
  padding: rem(20px) 0 10px 0;
}

.buttons__line1{
  padding: rem(25px) 0 0 0;
}

.no__robot{
  font-family: roboto-regular, sans-serif;
  color: #fff;
  font-size: rem(16px);
}

.no__robot_radio{
  font-family: roboto-regular, sans-serif;
  color: #fff;
  font-size: rem(16px);
}

.radio_robot{
  padding: 15px 0 10px 0;
}



.button__general{
  height: rem(45px);
  width: rem(188px);
  background-color: #dfa43a;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: rem(16px);
  padding: 0 0;
  cursor: pointer;
}

.button__general:hover{
  background-color: #c98a2c;
}

.button__voity{
  height: rem(45px);
  width: rem(188px);
  background-color: #dfa43a;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: rem(16px);
  padding: 0 0;
  cursor: pointer;
}

.button__voity:hover{
  background-color: #c98a2c;
}


.text_footer_autorizac{
  display: block;
  font-family: roboto-regular, sans-serif;
  color: #fff;
  position: relative;
  font-size: rem(16px);
  text-align: center;
  top: 0;
  padding: 0;

}

.fa{
  font-size: 15px;
  width: rem(45px);
  height: rem(45px);
  top: 15px;
  position: relative;


}

.input-group-addon {
    position: absolute;
    width: rem(45px);
    height: rem(45px);
    color: #c4cbcd;
    padding-top: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #efefe9;

}

input[type=checkbox] {display: none;}
input[type="checkbox"] + label span {
  display:inline-block;
  width:rem(20px);
  height:rem(20px);
  margin: -1px 4px 0 0;
  vertical-align:middle;
  background:url(../img/5.png) left top no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
  background:url(../img/6.png) top no-repeat;
  color: #000000;
}





.control_robot1{
  display: none;
}

.radio-custom {
    width: rem(20px);
    height: rem(20px);
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.radio-custom,{
  background: #fff;
}

.radio-custom,
.no__robot_radio {
    display: inline-block;
    vertical-align: middle;

}

.control_robot1:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background: #e7a731;
    border-radius: 1px;

}

.radio-custom,
.control_robot1:checked + .radio-custom::before {
    border-radius: 50%;
}

.footer__ff{

  width: 100%;
  top: 0px;
  height: rem(50px);
  margin-top:  rem(-50px);
  position: relative;
}

.cont__ff{
  height: rem(643px);
  width: 100%;
}

@import 'common/svg-sprite.scss';
@import 'common/media';

