@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/roboto-medium.ttf);}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/roboto-light.ttf);}

@font-face {
    font-family: Sansus_Webissimo;
    src: url(../fonts/Sansus_Webissimo.ttf);}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);}


.hero__bg{
  height: 650px;
  width: 100%;
  position: absolute;

  img{
  height: 650px;
  width: auto;
  min-width: 1000px;
  }
}

.img__hero_bg{

  }

.header__work{
  height: 100vh;
  min-height: 650px;
  position: relative;
  
}

ul{
  margin: 0;
  padding: 0;
  vertical-align: middle;
}



.main1{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -100%;
  left: rem(20px);
  width: rem(180px);
}

.humb{
  width: rem(65px);
  height: rem(65px);
  position: absolute;
  right: 20px;
  top: 5px;
  border: none;
  }


.toggle_mnu{
  width: rem(60px);
  height: rem(60px);
  position: fixed;
  z-index: 100;
  border: none;
  background: transparent;
  right: rem(50px);
  top: rem(20px);
  cursor: pointer;
    span
      {display: block;}
}


.sandwich{
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
}

.sw-topper{
  position: relative;
  top: 0;
  width: 28px; 
  height: 3px;
  background: #cd8920;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block;
}

.sw-bottom{
  position: relative;
  width: 28px;
  height: 3px;
  top: 3px * 2.2;
  background: #cd8920;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}

.sw-footer{
  position: relative;
  width: 28px;
  height: 3px;
  top: 3px * 4.5;
  background: #cd8920;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}

.sandwich.active{
  .sw-topper{
    top: 9px;
    border: none;
    transform: rotate(-45deg);
    }

  .sw-bottom{
    top: 6px;
    border: none;
    transform: rotate(45deg);
    }

  .sw-footer{
    opacity: 0;
    top: 0;
    border: none;
    transform: rotate(180deg);
    }
}



.top__mnu{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #e8ae43;
  z-index: 500;
  right: 0;
  top: 0px;
  left: 0;
  bottom: 0;
  display: none;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  
}

.wrapper__top_mnu{
  right: 0;
  top: 0px;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: rem(300px);
  position: fixed;
}

.top__mnu_list{
  width: 100%;
  height: rem(300px);
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  position: relative;
  text-align: center;
}

.top__mnu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top__mnu li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top__mnu a{
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  font-family: roboto-regular, sans serif;
  opacity: 0.8;
  position: relative;
  height: 60px;
  outline: none;
    span{
      position: relative;
      top: -40px;
      left: 0;
      height: 100%;
      }
    &:hover{
      color: #2341d9;
      }
}


.top__mnu_list a:hover::before,
.top__mnu_list a:hover::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 10px;
    background-image: url("../img/Ellipse-4.png");
    margin: 0 10px;
}

.top__mnu_list a:hover:after {
transform: rotateY(180deg);
}










ul li{
  list-style-type: none;

  vertical-align: middle;
}

ul.qqs li{
  display: inline;
  vertical-align: middle;
}

.qqs{
  display: inline;
  vertical-align: middle;
}

.ssilka{
  text-decoration: none;
  display: inline;
  vertical-align: middle;

}
a{
  text-decoration: none;
  vertical-align: middle;
}

li{
  display: inline;
  height: rem(50px);
  width: rem(50px);
}



.header__fon_zagolovka{
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transforme: TranslateY(-20%);
  text-align: center;
}

.img__header_wp{
  display: inline-block;
  width: 70%;
}


.wrapper__foto{
  position: relative;
  height: auto;
  width: rem(320px);
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(50px);
}

.foto__header_work{
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: rem(141px);
  width: rem(141px);
}

.img__header_work{
  height: rem(141px);
  width: rem(141px);
  border-radius: 50% 50%;
}


.fio__header_work{
  font-family: roboto-medium, sans serif;
  font-size: rem(35px);
  color: #fff;
  position: relative;
  width: rem(300px);
  height: rem(20px);
  top: rem(20px);
  text-align: center;
}

.descr_header_work{
  font-family: roboto-regular, sans serif;
  font-size: 16px;
  color: #fff;
  position: relative;
  text-align: center;
  width: rem(300px);
  height: rem(20px);
  top: rem(50px);
}

.strelka{
  cursor: pointer;
  position: relative;
  top: rem(300px);
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: rem(16px);
  width: rem(26px);
}

.img__strelka{
  height: rem(16px);
  width: rem(26px);
  cursor: pointer;
}


.box-tranigle {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  margin: 0px auto;
  }


.zagolovok__work{
  position: relative;
  top: rem(50px);
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: rem(50px);
  width: rem(500px);
    @include phone{
      width: rem(300px);
    }
}

.zagolovok__my_work{
  font-family: Sansus_Webissimo;
  font-size: rem(63px);
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  height: rem(50px);
  width: 100%;
  top: 0px;
  position: absolute;
    @include phone{
      font-size: rem(38px);
      top: 30px;
      position: relative;
    }
}



.logo__img_work{
  
  height: rem(150px);
  width: 100%;
  transform: translateY(-45px);

}

.wrap__logo_work{
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: ayto;
  width: 100%;
  opacity: 0.5;
  display: block;
    @include phone{
      top: 0;
    }
}

.img__logo_work{
  height: auto;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;

}




.block__my_work{
  height: auto;
  width: 100%;

}

.block__slider{
  position: relative;
  top: rem(140px);
  height: rem(650px);
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
    @include phone{
      height: auto;
    }

}



.descr__work{
  @extend %clearfix;
  display: inline-block;
  background: #f4f0e9;
  width: 50%;
  height: rem(650px);
  float: left;
    @include phone{
      float: none;
      width: 100%;
      height: rem(400px);
      }
}

.sait__work{
  background: #ebe5db;
  height: rem(500px);
  width: 50%;
  display: inline-block;
  position: absolute;
}

.st {
  cursor: pointer;
}


.wrap__descr_work{
  width: 100%;
  height: rem(350px);
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px auto;
}



.name__work{
  font-family: Sansus_Webissimo;
  font-size: rem(35px);
  text-transform: uppercase;
  color: #5d5a55;
  text-align: center;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px auto;
  height: rem(50px);
  width: 100%;
  position: relative;
  padding: 0 0 rem(50px) 0;
  display: inline-block;
    @include tablet{
      font-size: rem(25px);
    }
}

hr{
  border: 1px solid #aeaeab;
}


.desc__works {
  position: relative;
  top: 15px;
  text-align: center;
  height: auto;
  width: auto;
  padding: 0 0 20px 0;
    @include tablet{

    }
}

.descr__text{
  font-family: roboto-medium, sans-serif;
  font-size: 16px;
  color: #cd8920;
  padding: 0 30px;
    @include tablet{
      font-size: rem(14px);
    }
}

.line{
  padding: 10px 0;
}


.btn__see_works{
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: rem(20px) auto;
  height: rem(45px);
  width: rem(200px);

}

.btn__see_work{
  height: rem(45px);
  width: rem(200px);
  background-color: #efab26;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: rem(16px);
  cursor: pointer;
  border-radius: 5px;
}


.slider__info-item.active{
  display: block;
}

.slider__info-item{
  display: none;
  top: rem(50px);
  left: 0;
  position: absolute;
  width: 50%;
  text-align: center;
    @include phone{
      width: 100%;
    }
}



.wrap__work{
  height: rem(450px);
  width: 50%;

  float: right;
  background: #ebe5db;
    @include phone{
      width: 100%;
      float: none;
      height: rem(400px);
      top: -5px;
      position: relative;
      }
}



.work{
  position: absolute;
  top: 0px;
  bottom: 0;
  margin: 0px auto;
  height: 70%;
  width: 50%;
  display: inline-block;
  overflow: hidden;
    @include phone{
      position: relative;
      width: 100%;
      height: 100%;
    }
}



.img__work1{
  height: auto;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.img__work1_2{
  position: absolute;
  top: 0px;
  left:0px;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}


.nav_work{
  height: rem(200px);
  width: 50%;
  position: relative;
  top: 0px;
  float: right;
  display: inline-block;
  background: #ebe5db;
    @include phone{
      float: none;
      width: 100%;
      top: -5px;
      position: relative;
    }


}


.nav_work2{
  height: rem(150px);
  width: 50%;
  display: inline-block;
  float: left;
  position: relative;

}

.nav_work3{
  height: rem(150px);
  width: 50%;
  display: inline-block;
  float: right;
  position: relative;

}

.wap__img_work2{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
  vertical-align: middle;

}

.wap__img_work3{
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
  vertical-align: middle;
}

.img__work2{
  height: auto;
  width: 100%;
  opacity: 0.5;
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
}

.img__work3{
  height: auto;
  width: 100%;
  opacity: 0.5;
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
}

.er{
  position: relative;
  top: rem(300px);
  float: left;
  z-index: 201;
}

.er1{
  position: relative;
  top: rem(300px);
  padding: 0 0 0 rem(200px);
    z-index: 200;
}

.slider__controls-top{

}

.slider__controls-bottom{


}

.slider__list{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.slider__item{
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.slider__item.active{
top: 0%;
}

.wap__img_str_work2{
  height: auto;
  width: rem(50px);
  position: relative;
  top: rem(70px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;

}

.img__str_work2{
  height: rem(30px);
  width: rem(50px);

}



.otzivi{
  background-color: #f0e6d3;
  width: 100%;
  background-size: cover;
  position: relative;
  top: rem(140px);
  height: rem(650px);
    @include phone{
      top: rem(125px);
    }
}

.block_form{
  background-image: url(../img/sand-plyazh-pesok-makro-priroda1.png);
  height: rem(650px);
  width: 100%;
  background-size: cover;
  position: relative;
}

.wrap__form{
  padding: rem(30px) 0 0 0;
}

.wrap__zagolovok_otzivi{
  position: relative;
  height: rem(150px);
  width: 100%;
  padding: 0 0 rem(100px) 0;
}

.zagolovok_otzivi{
  font-family: Sansus_Webissimo;
  font-size: rem(63px);
  text-transform: uppercase;
  text-align: center;
  padding: rem(100px) 0 0 0;
    @include tablet{
      font-size: rem(40px);
      padding: rem(70px) 0 0 0;
    }

    @include phone{
      font-size: rem(20px);
      padding: rem(40px) 0 0 0;
    }
}

.zagolovok_otzivi:before,
.zagolovok_otzivi:after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: rem(40px);
  height: 14px;
  background-image: url("../img/ellipse-3.png");
  margin: 0 10px;
    @include tablet{
      width: rem(43px);
    }
    @include phone{
      width: rem(45px);
    }
}

.zagolovok_otzivi:after {
transform: rotateY(180deg);
}




.logo__img_about{
  top: rem(-120px);
  height: rem(150px);
  width: rem(500px);
  
}

.wrap__logo_img_about{
  position: absolute;
  top: 0;
  height: auto;
  width: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: block
}

.img__logo_about{
  height: rem(150px);
  width: auto;
  position: absolute;
  top: rem(50px);
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
    @include tablet{
      top: rem(10px);
    }
    @include phone{
      top: rem(0px);
      height: rem(100px);
    }
}


.block__otzivi{
  padding: 0px 0 rem(50px) 0;
  top: 0px;
  position: relative;
  width: 100%;
  height: auto;
    @include tablet{
      top: rem(-100px);
    }
    @include phone{
      top: rem(-150px);
    }
}

.otziv__1{
  width: 40%;
  height: auto;
  display: inline-blog;
  float: left;
  font-family: roboto-regular, sans-serif;
  color: #5d5a55;
  font-size: rem(16px);
  padding: 0 5%;
    @include phone{
      float: none;
      width: 90%;
      height: rem(200px);
    }
}



.otziv_dim{
  padding: 0 0 5% 0;
  height: rem(100px);
    @include tablet{
      height: rem(150px);
    }
    @include phone{
      padding: 7% 0 0 0;
      height: rem(80px);
    }

}

.foto_dima{
top: 0;
left: 0;
height: rem(80px);
width: rem(80px);
display: inline-blog;

}

.img__dima{
  border-radius: 50% 50%;
  height: rem(80px);
  width: rem(80px);
}




.name_dima{
  height: rem(50px);
  display: inline-block;
  color: #cd8920;
  top: -50px;
  position: relative;
  padding: 0 0 0 100px;

}





.form1{
  width: rem(380px);
  height: rem(480px);
  background-color: rgba(222, 201, 165, 0.55);
  margin: rem(50px) auto 0 auto;
    @include phone{
      width: rem(320px);
    }
}

.form{
  position: relative;
  padding: 0 0 0 0px;
  text-align: center;
}

.inp__name{
  padding: 10px 0;
  text-align: center;
}

.inp__email{
  padding: 10px 0;
}

.block__textar{
  padding: 10px 0px;
  resize: none;
}

.textar{
  padding: 10px 0 0 10px;
  width: rem(300px);
  height: rem(150px);
  font-family: roboto-regular, sans-serif;
  color: #5d5a55;
  font-size: 16px;
  resize: none;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  border: none;
    @include phone{
      width: rem(270px);
    }

}


textarea {
  resize: none;
   }

.btn_line{
  width: rem(380px);
  height: rem(45px);
    @include phone{
      width: rem(320px);
    }
}

.btn_line a{
  height: rem(45px);
  width: 50%;
}

.btn__otprav{
  height: rem(45px);
  width: 49.8%;
  background-color: #e7a731;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: 16px;
  padding: 0 0;
  cursor: pointer;
  position: relative;
  top: rem(39px);
  float: left;
    @include phone{
      top: rem(42px);
    }
}

.btn__ochist{
  height: rem(45px);
  width: 49.8%;
  background-color: #e7a731;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: rem(16px);
  padding: 0 0;
  cursor: pointer;
  position: relative;
  top: rem(39px);
  float: right;
    @include phone{
      top: rem(42px);
    }
}

.zagolovok_contact{
  font-family: Sansus_Webissimo;
  font-size: rem(35px);
  text-transform: uppercase;
  text-align: center;
  padding: rem(20px) 0 rem(20px) 0; 
  color: #5d5a55;
    @include phone{
      font-size: rem(25px);
    }
}

.zagolovok_contact::before,
.zagolovok_contact::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: rem(21px);
    height: 10px;
    background-image: url("../img/ellipse-4.png");
    margin: 0 10px;
}

*:before, *:after {
    box-sizing: inherit;}

.zagolovok_contact:after {
transform: rotateY(180deg);
}

.name{
  font-family: roboto-regular, sans-serif;
  color: #5d5a55;
  font-size: 16px;
  padding: 0 0 0 10px;
  width: rem(300px);
  outline: none;
  height: rem(45px);
  border-radius: 5px;
  background-color: #fff;
  border: none;
    @include phone{
      width: rem(270px);
    }
}














.footer{
  background-color: #4e4b46;
  width: 100%;
  top: 0px;
  height: rem(150px);
  display: flex;
  justify-content: space-between;
  margin-top:  0px;
    @include laptop{
      flex-wrap: wrap;
      height: rem(250px);
      }

    @include tablet{
      flex-wrap: wrap;
      height: rem(400px);
      }

    @include phone{
      flex-wrap: wrap;
      height: rem(400px);
    }
}

.cont__f1_1{
  display: flex;
  align-items: center;
  color: #fff;
  font-family: roboto-light, sans-serif;
  font-size: 16px;
    @include laptop{
      justify-content: center;
      font-size: 16px;
      }
    @include tablet{
      justify-content: center;
      font-size: 14px;
    }
    @include phone{
      justify-content: center;
      font-size: 14px;
    }
}

.cont__f1{
  padding: 10px 10px;
  border-right: 1px solid #73726d;
  justify-content: center;
  width: 70%;
    @include laptop{
      border-right: none;
      border-bottom: 1px solid #73726d;
      height: rem(100px);
      width: 100%;
    }
    @include tablet{
      border-right: none;
      border-bottom: 1px solid #73726d;
      height: rem(130px);
      width: 100%;
    }

    @include phone{
      border-right: none;
      border-bottom: 1px solid #73726d;
      height: rem(130px);
      width: 100%;
    }
}



.cont__f1_2{
  display: flex;
  align-items: center;
  padding: 20px 10px;
  color: #a5a4a4;
  font-family: roboto-light, sans-serif;
  font-size: 16px;
  padding: 20px 10px 0 0px;
    @include laptop{
      justify-content: center;
      font-size: 16px;
      }
    @include tablet{
      justify-content: center;
      font-size: 14px;
    }
    @include phone{
      justify-content: center;
      font-size: 14px;
    }
}

.cont__f1_3{
  display: flex;
  align-items: center;
  color: #a5a4a4;
  font-family: roboto-light, sans-serif;
  font-size: 16px;
    @include laptop{
      justify-content: center;
      font-size: 16px;
      }
    @include tablet{
      justify-content: center;
      font-size: 14px;
    }
    @include phone{
      justify-content: center;
      font-size: 14px;
    }

}


.cont__f2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
    @include laptop{
      font-size: 16px;
      justify-content: flex-start;
    }

    @include tablet{
      font-size: 14px;
    }
     @include phone{
      font-size: 14px;
    }
}

.cont__f2_1{
  display: flex;
  padding: 10px 0;

    @include tablet{
      font-size: 14px;
    }
     @include phone{
      font-size: 14px;
    }
}

.cont__f2_1 a{
    @include tablet{
      font-size: 14px;
      padding: 0 rem(5px);
    }
     @include phone{
      font-size: 14px;
      padding: 0 rem(5px);
    }
}

.cont__f2_2{
  padding: 5px 0px 10px 0px;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
    @include laptop{
      font-size: 16px;
      justify-content: flex-start;
    }

}

.cont__f3{
  display: flex;
  align-items: flex-start;
  border-left: 1px solid #73726d;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 60%;
    @include laptop{
      font-size: 16px;
      justify-content: flex-end;
      width: 100%;
      padding: 0 30px 0 0;
      position: relative;
      top:rem(-80px);
      border-left: none;
    }
    @include tablet{
      border-left: none;
      border-top: 1px solid #73726d;
      width: 100%;
  }
    @include phone{
      border-left: none;
      border-top: 1px solid #73726d;
      width: rem(300px);
      width: 100%;
  }
}

.cont3{
  padding: 10px 0 0 0;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
    @include laptop{
      font-size: 15px;
      justify-content: flex-end;
    }
}

.cont__f3_1{
    color: #a5a4a4;
    font-family: roboto-light, sans-serif;
    font-size: 16px;
    padding: 0 0 5px 0px;
    width: 100%;
      @include laptop{
        font-size: 16px;
        justify-content: flex-end;
        text-align: right;
    }

}



.menu{
  display: inline;
  padding: 0 rem(20px);
  color: #fff;
  font-family: roboto-medium, sans-serif;
  font-size: 16px;
   text-decoration: none;
    @include laptop{
      font-size: 16px;
      justify-content: flex-end;
    }
    @include tablet{
      font-size: 14px;
      padding: 0 rem(5px);
    }
     @include phone{
      font-size: 14px;
      padding: 0 rem(5px);
    }
}


.svg-vk1-dims{
  fill: #fff;
  padding: 0 8px;
  height: rem(50px);
  width: rem(50px);
  text-decoration: none;
  display: inline-block;
}

.svg-vk1-dims:hover{
  fill: #cd8920;
}

.svg-github1-dims{
  fill: #fff;
  padding: 0 8px;
  height: rem(50px);
  width: rem(50px);
  text-decoration: none;
  display: inline-block;
}

.svg-github1-dims a{
  text-decoration: none;
}

.svg-github1-dims:hover{
  fill: #cd8920;
}


.svg-in1-dims{
  fill: #fff;
  padding: 0 8px;
  height: rem(50px);
  width: rem(50px);
  text-decoration: none;
  display: inline-block;
}



.svg-in1-dims:hover{
  fill: #cd8920;
  text-decoration: none;
}

.svg-hamburger-dims{
  fill: #fff;
  height: rem(50px);
  width: rem(50px);
  text-decoration: none;

}

.humb{
  display: flex;
  padding: 10px 20px 0 0px;
}



@import 'common/svg-sprite.scss';
@import 'common/media';

