@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/roboto-medium.ttf);}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/roboto-light.ttf);}

@font-face {
    font-family: Sansus_Webissimo;
    src: url(../fonts/Sansus_Webissimo.ttf);}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);}



.header__work{
  background-image: url(../img/sand.jpg);
  height: 650px;
  width: 100%;
  background-size: cover;
  position: relative;
  
  top: 0;
  left: 0;
  height: 100vh;
  background-position: left top;
  background-repeat: no-repeat;
}

ul{
  margin: 0;
  padding: 0;
  vertical-align: middle;
}



.main1{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 10px;
  left: 20px;
  width: 150px;
}

.humb{
  width: 65px;
  height: 65px;
  position: absolute;
  right: 20px;
  top: 5px;
  }





ul li{
  list-style-type: none;

  vertical-align: middle;
}

ul.qqs li{
  display: inline;
  vertical-align: middle;
}

.qqs{
  display: inline;
  vertical-align: middle;
}

.ssilka{
  text-decoration: none;
  display: inline;
  vertical-align: middle;

}
a{
  text-decoration: none;
  vertical-align: middle;
}

li{
  display: inline;
  height: 50px;
  width: 50px;
}



.header__fon_zagolovka{
  position: relative;
  top: -180px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.img__header_wp{
  height: auto;
  width: 100%;
}


.wrapper__foto{
  position: relative;
  height: auto;
  width: 320px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(50px);

}

.foto__header_work{
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 141px;
  width: 141px;
}

.img__header_work{
  height: 141px;
  width: 141px;
  border-radius: 50% 50%;
}


.fio__header_work{
  font-family: roboto-medium, sans serif;
  font-size: 35px;
  color: #fff;
  position: relative;
  width: 300px;
  height: 20px;
  top: 20px;
  text-align: center;
}

.descr_header_work{
  font-family: roboto-regular, sans serif;
  font-size: 16px;
  color: #fff;
  position: relative;
  text-align: center;
  width: 300px;
  height: 20px;
  top: 50px;
}

.strelka{
  cursor: pointer;
  position: relative;
  top: 100px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 16px;
  width: 26px;
}

.img__strelka{
  height: 16px;
  width: 26px;
  cursor: pointer;
}


.box-tranigle {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  margin: 0px auto;
  }


.zagolovok__work{
  position: relative;
  top: 50px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 50px;
  width: 500px;
}

.zagolovok__my_work{
  font-family: Sansus_Webissimo;
  font-size: 63px;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  height: 50px;
  width: 400px;
}

.logo__img_work{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 150px;
  width: 500px;
  transform: translateY(-45px);
  opacity: 0.5;
}

.img__logo_work{
  height: 150px;
  width: 500px;
}




.block__my_work{
  height: auto;
  width: 100%;

}

.block__slider{
  position: relative;
  top: 140px;
  height: 500px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;

}


.descr__work{
  display: inline-block;
  background: #f4f0e9;
  width: 50%;
  height: 500px;
}

.sait__work{
  background: #ebe5db;
  height: 500px;
  width: 50%;
  display: inline-block;
  position: absolute;

}


.wrap__descr_work{
  width: 320px;
  height: 350px;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px auto;
}



.name__work{
  font-family: Sansus_Webissimo;
  font-size: 35px;
  text-transform: uppercase;
  color: #5d5a55;
  text-align: center;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px auto;
  height: 50px;
  width: 320px;
  position: relative;
  padding: 0 0 50px 0;
  display: inline-block;
}

hr{
  border: 1px solid #aeaeab;
}


.desc__works {
  position: relative;
  top: 15px;
  text-align: center;
  height: auto;
  width: 320px;
  padding: 0 0 20px 0;
}
.descr__text{
  font-family: roboto-medium, sans-serif;
  font-size: 16px;
  color: #cd8920;
  
}

.line{
  padding: 10px 0;
}


.btn__see_works{
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px auto;
  height: 45px;
  width: 200px;

}

.btn__see_work{
  height: 45px;
  width: 200px;
  background-color: #efab26;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}


.wrap__work{
  height: 350px;
  width: 500px;
}

.work{
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
  height: 70%;
  width: 80%;
  display: inline-block;
}


.img__work1{
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
  position: absolute;
}

.img__work1_2{
  position: absolute;
  top: 1000px;
  left:-1000px;
  z-index: -1;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;

}


.nav_work{
  height: 150px;
  width: 100%;
  position: relative;
  top: 0px;

}


.nav_work2{
  height: 150px;
  width: 50%;
  display: inline-block;
  float: left;
  position: relative;
  top: -25px;
}

.nav_work3{
  height: 150px;
  width: 50%;
  display: inline-block;
  float: right;
  position: relative;
  top: -25px;
}

.wap__img_work2{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
  vertical-align: middle;

}

.wap__img_work3{
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
  vertical-align: middle;
}

.img__work2{
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
  vertical-align: middle;
}

.img__work3{
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
  vertical-align: middle;
}


.wap__img_str_work2{
  height: auto;
  width: 50px;
  position: relative;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;

}

.img__str_work2{
  height: 30px;
  width: 50px;

}



.otzivi{
  background-color: #f0e6d3;
  width: 100%;
  background-size: cover;
  position: relative;
  top: 140px;
  height: 650px;
}

.block_form{
  background-image: url(../img/sand-plyazh-pesok-makro-priroda1.png);
  height: 650px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.wrap__form{
  padding: 30px 0 0 0;
}

.wrap__zagolovok_otzivi{
  position: relative;
  height: 150px;
  width: 100%;
  padding: 0 0 150px 0;
}

.zagolovok_otzivi{
  font-family: Sansus_Webissimo;
  font-size: 63px;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 0 0;

}

.zagolovok_otzivi:before,
.zagolovok_otzivi:after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 14px;
  background-image: url("../img/ellipse-3.png");
  margin: 0 10px;
}

.zagolovok_otzivi:after {
transform: rotateY(180deg);
}




.logo__img_about{
  position: relative;
  top: -120px;
  height: 150px;
  width: 500px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}


.block__otzivi{
  display: flex;
  justify-content: space-between;
  padding: 0px 0 50px 0;
}

.otziv__1{
  display: flex;
  align-items: center;
  padding: 0 8% 0 10%;
  font-family: roboto-regular, sans-serif;
  color: #5d5a55;
  font-size: 16px;
}

.otziv__2{
  display: flex;
  align-items: center;
  padding: 0 10% 0 8%;
  font-family: roboto-regular, sans-serif;
  color: #5d5a55;
  font-size: 16px;
}

foto_dima{
  padding: 50px 10px 0 30px;
  display: flex;
}

.img__dima{
  border-radius: 50% 50%;
  height: 80px;
  width: 80px;
}

.otziv_man{
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
}

.name_dima{
  display: flex;
  align-items: center;
  padding: 0 10% 0 30px;
  color: #cd8920;
}

.foto_zar{
  display: flex;
  align-items: center;
  padding: 0 0 0 10%;
}

.name_zar{
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #cd8920;
}

.form1{
  width: 380px;
  height: 480px;
  background-color: rgba(222, 201, 165, 0.55);
  margin: 50px auto 0 auto;
}

.form{
  position: relative;
  padding: 0 0 0 0px;
  text-align: center;
}

.inp__name{
  padding: 10px 0;
  text-align: center;
}
.inp__email{
  padding: 10px 0;
}

.block__textar{
  padding: 10px 0px;
  resize: none;
}

.textar{
  padding: 10px 0 0 10px;
  width: 300px;
  height: 150px;
  font-family: roboto-regular, sans-serif;
  color: #5d5a55;
  font-size: 16px;
  resize: none;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  border: none;

}


textarea {
  resize: none;
   } 

.btn__otprav{
  height: 45px;
  width: 188px;
  background-color: #e7a731;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: 16px;
  padding: 0 0;
  cursor: pointer;
  position: relative;
  top: 39px;
}

.btn__ochist{
  height: 45px;
  width: 188px;
  background-color: #e7a731;
  border: none;
  font-family: roboto-medium, sans-serif;
  color: #fff;
  font-size: 16px;
  padding: 0 0;
  cursor: pointer;
  position: relative;
  top: 39px;
}

.zagolovok_contact{
  font-family: Sansus_Webissimo;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 20px 0; 
  color: #5d5a55;
}

.zagolovok_contact::before,
.zagolovok_contact::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 10px;
    background-image: url("../img/ellipse-4.png");
    margin: 0 10px;
}

*:before, *:after {
    box-sizing: inherit;}

.zagolovok_contact:after {
transform: rotateY(180deg);
}

.name{
  font-family: roboto-regular, sans-serif;
  color: #5d5a55;
  font-size: 16px;
  padding: 0 0 0 10px;
  width: 300px;
  outline: none;
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
}














.footer{
  background-color: #4e4b46;
  width: 100%;
  top: 0px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin-top:  0px;

}

.cont__f1_1{
  display: flex;
  align-items: left;
  color: #fff;
  font-family: roboto-light, sans-serif;
  font-size: 16px;
}

.cont__f1{
  padding: 10px 10px;
  border-right: 1px solid #73726d;
}



.cont__f1_2{
  display: flex;
  align-items: left;
  padding: 20px 10px;
  color: #a5a4a4;
  font-family: roboto-light, sans-serif;
  font-size: 16px;

}


.cont__f2{
  display: flex;
  align-items: left;

}

.cont__f2_1{
  padding: 10px 0;
}

.cont__f2_2{
  padding: 50px 0 0 0;
  text-align: center;
}

.cont__f3{
  display: flex;
  align-items: left;
  border-left: 1px solid #73726d;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cont3{
padding: 25px 40px;
}

.cont__f3_1{
    color: #a5a4a4;
    font-family: roboto-light, sans-serif;
    font-size: 16px;
    padding: 0 0 5px 0px;

}



.menu{
  display: inline;
  padding: 0 20px;
  color: #fff;
  font-family: roboto-medium, sans-serif;
  font-size: 16px;
   text-decoration: none;
}


.svg-vk1-dims{
  fill: #fff;
  padding: 0 8px;
  height: 50px;
  width: 50px;
  text-decoration: none;
  display: inline-block;
}

.svg-vk1-dims:hover{
  fill: #cd8920;
}

.svg-github1-dims{
  fill: #fff;
  padding: 0 8px;
  height: 50px;
  width: 50px;
  text-decoration: none;
  display: inline-block;
}

.svg-github1-dims a{
  text-decoration: none;
}

.svg-github1-dims:hover{
  fill: #cd8920;
}


.svg-in1-dims{
  fill: #fff;
  padding: 0 8px;
  height: 50px;
  width: 50px;
  text-decoration: none;
  display: inline-block;
}



.svg-in1-dims:hover{
  fill: #cd8920;
  text-decoration: none;
}

.svg-hamburger-dims{
  fill: #fff;
  height: 50px;
  width: 50px;
  text-decoration: none;

}

.humb{
  display: flex;
  padding: 10px 20px 0 0px;
}


@import 'common/svg-sprite.scss';

